*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
body, html{
    scroll-behavior: smooth;
}
.navcontainer{
    display: flex;
    align-items: center;
    background-color: #04051c;
    color: white;
    padding: 15px 40px;
    width: 100%;
    gap: 30px;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.logo i {
    font-size: 40px;
    color:#ff7d00;
    gap: 2rem;
}
.logo .frstspan{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.logo .scndspan{
    margin-left: 1px;
    font-size: 25px;
    font-weight: bold;
    color: #ff7d00;
}

.navcontainer a{
    color: white;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap; 
    font-size: 25px;
}
.navbar a.active{
   background-color: #1ecccf;
   border-radius: 3px;
   padding: 2px 5px;
}
.navbar li:hover{
    text-shadow: 0 0 5px #050505;
    border-bottom: 4px solid rgb(249, 244, 244);
    border-radius: 4px;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.navbar button{
    cursor: pointer;
    padding: auto;
    font-size: 25px;
    gap: none;
    background-color: transparent;
    color: white;
    border: none;
}
.navbar button:hover{
    background-color: #ff7d00;
    border-radius: 4px;
    color: white;
    border: none;
    transform: scale(1.05);
}

.burgerbar{
    display: none;
    flex-direction: column;
    gap: 5px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    .burgerbar {
        display: flex;
    }
    .footer .footercontainer{
        flex-direction: column;
        gap: 10px;
    }
    .navcontainer{
            flex-direction: column;
            gap: 10px;  
            font-size: 30px;
            display: flex;
    }
    .popularcontainer,
     #gallery,
    .menu-container {
          display: grid !important;
          grid-template-columns: repeat(1, 1fr)!important;
        }
}

.footercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06061b;
    color: white;
    margin-top: 20px;
    gap: 200px;
    padding: 12px;
    font-size: 20px;
    margin-bottom: 0px;
}
.socialmedia, a {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    justify-content: center;
    text-decoration: none;
}
.socialmedia i {
    color: #f8f7f6;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url("./heroimage.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: slideInDown 0.8s ease-out forwards;
}
/* tämä himmentää kuvaa, löysin AI:sta*/
#home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); 
}
.hero {
    position: relative;
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: rgb(253, 252, 251);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
    opacity: 0.9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.herobtn {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.about-momo{
    text-align:center;
    padding:60px 20px;
    margin:auto;
    border-radius: 6px;
    box-shadow:0 26px 25px rgba(9, 6, 6, 0.2);
    max-width: 89rem;
}

.about-momo h2{
    font-size:2.5rem;
    margin-bottom:20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about-momo p{
    line-height:1.8;
    font-size: large;
}

.btn {
    padding: 12px 20px;
    background-color: #3f79df;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: large;
}

.btn:hover {
    background: #749ce2;
    transform: translateY(-2px);
}
.popular{
    background-color: #a7a8d6;
    box-shadow: 0 26px 25px rgba(9, 6, 6, 0.2);
}
.popularcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 40px;
    flex-wrap: wrap;
    animation: slideInDown 0.8s ease-out forwards;
}
#pplrimg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 26px 25px rgba(11, 11, 11, 0.2);
}
.popular h3{
    text-align: center;
    margin-top: 10px;
    color: #0F1056;
}

.popular p{
    text-align: center;
    color: #0F1056;
    font-size: 18px;
    padding: 0 10px;
}
.popular h2{
    text-align: center;
    color: #0F1056;
    text-decoration: dashed underline;
    text-shadow: 2px 2px 4px rgba(230, 222, 222, 0.7);
}

#pplrimg:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(10, 12, 12, 0.5)
}
.viewmore{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.viewmore .btn{
    background-color: #0F1056;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: large;
}
.viewmore .btn:hover {
    background: #2626bf;
    color: rgb(243, 243, 239);
    transform: translateY(-2px);
}

.about{
    text-align:center;
    padding:60px 20px;
    border-bottom: #0a0a3c solid 2px;
    animation: slideInDown 0.8s ease-out forwards;
}
.about h1 {
    font-size:2.5rem;
    margin-bottom:20px;
    color: #040404;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0F1056;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid #0F1056;
}

.openinghours{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    margin-top:40px;
    flex-wrap:wrap;
}

.hourscontainer{
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    min-width:300px;
}

.hourscontainer:hover{
    cursor:grab;
    background-color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.day{
    margin:20px 0;
    font-size:18px;
}

.day h3{
    color:#0F1056;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}
.day p{
    font-size:25px;
    font-size: bold;
}
.map iframe{
    border-radius:15px;
    max-width:100%;
    box-shadow: 0 15px 15px rgba(1,1,1,1.2);
}

.aboutbtn{
    justify-content:center;
    padding:20px;
    background-color: #0a0a3c;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
}
.aboutbtn:hover{
    background-color: #0F1056;
    color: white;
    transform: translateY(-2px);
}
#form{
        background-color: #ffffff;
        border: 2px solid rgb(11, 11, 11);
        border-radius: 10px;
        padding: 24px 28px;
        max-width: 500px;
        margin-bottom: 50px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        margin-left: 5px;
        animation: slideInDown 0.8s ease-out forwards;
    }
     
#form, .form label{
    color: #2124d3;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}
.form{
    
        background-color: #ffffff;
        border: 2px solid rgb(7, 7, 7);
        border-radius: 10px;
        padding: 24px 28px;
        max-width: 500px;
        margin-top: 50px;
        margin-left: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        animation: slideInDown 0.8s ease-out forwards;
    }
     

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid rgb(224, 160, 160);
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;    
}
#feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
button[type="submit"] {
    background-color: #2e9432;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button[type="submit"]:hover {
    background-color: #27bb2e;
}

#gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    animation: slideInDown 0.8s ease-out forwards;
    margin-top: 2px;
}

.image{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: transform 0.4s ease;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.image:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.image:hover img{
    transform: scale(1.08);
}

/* Found on uiverse.oi, down*/
.scroll-indicator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .mouse {
    width: 28px;
    height: 48px;
    border: 2px solid #0b0b0b;
    border-radius: 14px;
    position: relative;
    opacity: 0.9;
  }
  
  .wheel {
    width: 4px;
    height: 15px;
    background: #bc2c2c;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    animation: scroll 1.3s infinite;
  }
  @keyframes scroll {
    0% { opacity: 1; transform: translateX(-50%) translateY(0); }
    100% { opacity: 0; transform: translateX(-50%) translateY(15px); }
  }
  /* Found on uiverse.oi, up*/

/*-------------------------MENU---------------------------*/
.menu-section {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    animation: slideInDown 0.8s ease-out forwards;
}

.menu-section h1 {
    font-size: 36px;
    color: #333;
}

.menu-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    flex-wrap: wrap; 
    gap: 20px;
    justify-items: center;
}
.item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(10, 12, 12, 0.5);
}
.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.item h3 {
    font-size: 22px;
    color: #333;
    margin: 15px 0 10px;
}
.item p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.item .price {
    font-size: 18px;
    color: #27bb2e;
    font-weight: bold;
    margin-top: 10px;
}
#address, i{
    color: #ba2818;
    font-size: 25px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes slideInDown {
    from { transform: translateY(-40px); opacity: 0; }
    to   { transform: translateY(0);     opacity: 1; }
}